/* @import 'tailwindcss';

@theme {
  --color-primary: #425340;
  --color-secondary: #dfcebc;
  --color-background: #faf8f5;
}

* {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
.font-serif {
  font-family: 'Cormorant Garamond', serif;
} */

@import 'tailwindcss';

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./assets/fonts/CormorantGaramond-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./assets/fonts/CormorantGaramond-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #425340;
  --color-secondary: #dfcebc;
  --color-background: #faf8f5;
}

* {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
.font-serif {
  font-family: 'Cormorant Garamond', serif;
}
